*{
  font-family: 'Space Grotesk', sans-serif;
}
.main{width: 800px;
  margin: 15rem auto;
}

.color{
  display:block;
  width: 100%;
  height: 20rem;
}

.color-picker-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 2em;

}

.color-picker-container > * {
  border: 1px solid black;
  padding: 1rem;
  margin: .5rem;
}

.color-picker-container > *:hover{
  cursor: pointer; 
}

.guess{
  text-align: center;
  color:red;
  font-size:2em;
  margin: 10em;
}